.h2-primary {
  color: $theme-primary;
}

#app {
  overflow: auto;
}

body {
  overflow-y: scroll;
}

.video-annotator {
  padding: 0px;

  .glyphicon-pencil {
    color: yellow;
  }

  .glyphicon-ok {
    color: chartreuse;
  }

  .glyphicon-hand-left {
    color: aqua;
  }

  .saved {
    color: chartreuse;
  }

  .unsaved {
    color: red;
  }

  .main-preview-player {
    padding: 70px 0px 0px 0px;
    margin: 0px;
    overflow: hidden;

   p {
    font-size: 18px;
    color: white;
  }
 }

  .video-js {
    width: 100%;
    height: 100%
  }

  .control-panel {
    background-color: $gray-even-darker;
    overflow-y: overlay;
    overflow-x: hidden;
    padding: 0px 10px 0px 5px;
    height: $height*$scaling+380;
    min-width: 500px;

    .control-panel-buttons {
      padding: 15px;
      width: 100%;
      margin: 0px;

      .btn {
        margin: 0px 15px 0px 0px;
      }

      .btn-frame {
        @include button-variant(#fff, $color-frame, darken($color-frame, 15%));
      }

      .btn-object {
        @include button-variant(#fff, $color-object, darken($color-object, 15%));
      }

      .btn-save {
        @include button-variant(#fff, $gray, darken($gray, 15%));
      }
    }

    .label-info {
      padding: 10px;
      margin: 1px 10px 1px 10px;

      .btn-group {
        width: 100%;
      }

      .progress {
        margin: 10px 10px 10px 0px;
        background-color: $gray;
      }

      .close {
        color: white;
      }

      .btn-gray {
        @include button-variant(#fff, $gray-light, darken($gray-light, 15%));
      }
    }

    .frame-label-info {
      background-color: $color-frame;
      border-style: solid;
      border-color: darken($color-frame, 20%);
    }

    .object-label-info {
      background-color: $color-object;
      border-style: solid;
      border-color: darken($color-object, 20%);

      .handle-invisible {
        display: none;
      }
    }

    .label-header {
      width: 95%;
      margin: 0 0 10px 0;

      .label-text {
        float: left;
        padding: 4px 0 4px 0;
        margin: 0px;
      }

      .label-select {
        float: left;
      }

      .Select-menu-outer {
        z-index: 100;
      }
    }

    .label-subheader {
      width: 100%;
      margin: 0 0 10px 0;

      .label-text {
        float: left;
        padding: 14px 0 4px 0;
        margin: 10px 0 0 0;
        font-size: 16px;
        border-top-style: dotted;
        border-top-width: 2px;
        border-top-color: $gray-even-darker;
      }
    }

    .label-action-select {
      top: -50%;
      
      .Select-control {
        z-index: 100;
        width: 30px;
        margin: 0 auto;
      }

      .Select-menu-outer {
        width: 200px;
      }
    }

    .label-slider {
      margin: 45px 10px 40px 10px;
      position: relative;

      .slider-connect {
        position: absolute;
        top: 0;
        height: 100%;
      }

      .slider-success {
        background-color: $color-success;
      }

      .slider-info {
        background-color: $color-info;
      }

      .slider-danger {
        background-color: $color-danger;
      }

      .slider-left {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      .slider-right {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }

  .vjs-playlist {
    height: $height*$scaling+380;
  }

  .videojs-wrapper {
    padding: 0px;
    height: $height*$scaling;
    min-width: $width*$scaling;

    .vjs-big-play-button {
      z-index: 10;
    }

    .vjs-control-bar {
      top: $height*$scaling;
      display: flex;
      opacity: 1 !important;
      background-color: $gray-even-darker;
      border-style: solid;
      border-width: 1px;
      border-color: $gray-darkest;

      .vjs-volume-menu-button {
        display: none;
      }

      .vjs-fullscreen-control {
        display: none;
      }
    }

    .video-control {
      background-color: $gray-even-darker;
      position: absolute;
      top: $height*$scaling+30;
      left: 0;
      width: 100%;
      height: 350px;
      border-style: solid;
      border-width: 1px;
      border-color: $gray-darkest;

      .playbackRate {
        padding: 10px 10px 40px 10px;
        margin: 0px;
        background-color: $gray-darker;

        .playbackRateSlider {
          float: left;

          .noUi-value-horizontal {
            top: 20px;
          }
        }
      }

      p {
        float: left;
        padding: 0px;
        margin: 0px;
      }

      .frame-label-customize {
      }

      .object-label-customize {
        background-color: $gray-darker;
      }

      .label-customize {
        padding: 10px;
        margin: 0px;

        button {
          height: 34px;
        }

        .label-customize-control {
          padding: 0px;
        }

        .add-class {
          float: left;
        }

        .remove-class {
          float: left;
        }

        .Select {
          display: table-cell;
          vertical-align: middle;
          width: 70%;

          .Select-control {
            border-width: 0px;
            height: 34px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
        }

        .row {
          margin: 0px;
          padding: 5px;
        }

        .Select-menu-outer {
          z-index: 100;
          top: initial;
          bottom: 100%;
        }
      }

      .options {
        padding: 10px;
        margin: 0px;
        text-align: center;
      }

    }

    .small-label {
      position: absolute;
      width: 75px;
      height: 25px;
      top: 0px;
      color: white;
      z-index: 5;
      margin: 0px;
    }

    .small-label-frame {
      position: absolute;
      width: 75px;
      height: 25px;
      top: 0px;
      right: 0px;
      color: white;
      z-index: 5;
      margin: 0px;
    }

    .canvas-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;

      .konvajs-content {
        margin: auto;

        canvas {
          z-index: 10;
        }
      }
    }

    .bg-success {
      border-style: solid;
      background-color: $color-success;
      border-color: darken($color-success, 20%);
    }

    .bg-info {
      border-style: solid;
      background-color: $color-info;
      border-color: darken($color-info, 20%);
    }

    .bg-danger {
      border-style: solid;
      border-color: darken($color-danger, 20%);
      background-color: $color-danger;
    }

    .bg-gray {
      border-style: solid;
      border-color: darken($gray-light, 20%);
      background-color: $gray-light;
    }
  }

  .details-hidden {
    display: none !important;
  }
}
