@import "variables.less";

.control-panel {
  padding: 10px;
  background-color: #1A1A1A;

  .control-panel-add-buttons {
    padding: 10px;
    width: 100%;
    margin: 0px;

    .btn {
      margin: 0px 15px 0px 0px;
    }
  }

  .label-info {
    padding: 10px;
    color: white;

    h5 {
      margin: 0px 0px 5px 0px;
    }

    .btn-group {
      width: 100%;
    }
  }

  .frame-label-info {
    background-color: @color-frame;
    border-style: solid;
    border-color: darken(@color-frame, 20%);
  }

  .object-label-info {
    background-color: @color-object;
    border-style: solid;
    border-color: darken(@color-object, 20%);
  }
}
